
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/composer.lock
/symfony.lock
/public/bundles/
/var/
/vendor/
/public/robots.txt
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###

###> liip/imagine-bundle ###
/public/media/cache/
###< liip/imagine-bundle ###
