
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/composer.lock
/symfony.lock
/phpunit.xml.dist
/public/bundles/
/bin/
/var/
/vendor/
/public/robots.txt
/config/
!/config/services.yaml
!/config/packages/liip_imagine.yaml
!/config/packages/messenger.yaml
!/config/packages/security.yaml
!/config/packages/translation.yaml
!/config/packages/twig.yaml
!/config/packages/dev/services.yaml
!/config/packages/prod/services.yaml
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###

###> liip/imagine-bundle ###
/public/media/cache/
###< liip/imagine-bundle ###
