<div class="handle-action">
	{% trans %}Actions{% endtrans %}
	<select class="form-control form-control-sm" name="action">
		<option></option>
		<option value="delete">{% trans %}Delete{% endtrans %}</option>
	</select>
	<button class="btn btn-dark btn-sm">{% trans %}Submit{% endtrans %}</button>
	{{ __NGERP.controller.__renderAction|raw }}
</div>