<a href="javascript:;" class="select-all">{% trans %}Select All{% endtrans %}</a>
<span class="separator">|</span>
<a href="javascript:;" class="unselect-all">{% trans %}Unselect All{% endtrans %}</a>
<span class="separator">|</span>
<a href="javascript:;" class="select-invert">{% trans %}Select Invert{% endtrans %}</a>