{% for label, messages in app.flashes(['success', 'danger']) %}
    {% for message in messages %}
        <div class="alert alert-{{ label }}">
            {{ message|trans }}
        </div>
    {% endfor %}
{% endfor %}